<Project>
  <PropertyGroup>
    <PublishProtocol>FileSystem</PublishProtocol>
    <Configuration>Release</Configuration>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
    <PublishDir>$(LOCALAPPDATA)\Vitals\</PublishDir>
    <PublishUrl>$(LOCALAPPDATA)\Vitals\</PublishUrl>
  </PropertyGroup>
</Project>
